header
{
	border-width: 0.3em;
	border-style: solid;
	border-color: white;
	border-radius: 0.9em;
	background-image: url("images/background-header.jpg");
	background-size: 50%;
    background-repeat: repeat;
	margin-bottom:2.5em;
}

header h1
{
	margin-left: 0.3em;
	text-align: center;
	text-shadow: 0 0 0.2em black;
	color: white; 
	font-family: Britannic, Helvetica;
	font-size: 2.3em;
	background-color: #FF9933;
	border: 0.2em double black;
	border-radius: 50%;
	padding: 0.35em;
	display:inline-block;
}

header h2
{
	font-family: Aharoni;
	display:block;
	text-align:right;
	margin-right: 0.5em;
	margin-top: 0em;
	font-size: 1.7em;
	position:relative;
	bottom: 1em;
	color:white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

header ul
{
	margin-bottom:0em;
}

header ul li
{
	display: inline;
}
header nav ul  li a
{
	position:relative;
	background-color: darkgreen;
	border-radius: 0.2em;
	padding: 0.2em;
	border-width: 0.1em;
	border-style: solid;
	border-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: Aparajita;
	font-size: 1.3em;
	display:inline-block;
}
header a:hover
{
	background-color:white;
	color:darkgreen;
}
header nav ul li form input, nav ul li form button
{
	float: right;
	position:relative;
	bottom:2em;
	right: 1em;
	
}
body
{
	background-image: url("images/background-body.jpg");
	background-size: 50%;
	background-repeat: repeat;
} 
article
{
	border-top-width: 0.3em;
	border-top-style: solid;
	border-top-color: green;
	border-bottom-width: 0.3em;
	border-bottom-style: solid;
	border-bottom-color: green;
	background-color: white;
}
table
{
	margin-left: 2em;
}
article table th img
{
	
	height: 5em;
	border-width: 0.2em;
	border-color: black;
}
article#promo
{
	border:solid 0.2em black;
	background-color:#FFFF33;
	margin-right:auto;
	margin-left:auto;
	width: 25em;
	border-radius:0.9em;
}

article#promo h2
{
	text-align: center;
	color:white;
	border:solid 0.1em black;
	border-radius: 0.3em;
	background-color:red;
	font-family: britannic;
}

table tr th a
{
	color:white;
	font-family: Cambria;
	border:solid 0.15em black;
	border-radius: 0.5em;
	background-color:red;
	padding: 0.3em;
	text-decoration: none;
}
table tr th a:hover
{
	background-color: white;
	color: red;
}