body
{
	background-color: #DEB887;
	font-family: Helvetica;
}
header
{
	border-width: 0.3em;
	border-style: groove;
	border-color: lightgrey;
	border-radius: 0.9em;
	background-image: url("nourriture.png");
	background-repeat: repeat;
	margin-bottom: 2.5em;
}
header h1
{
	margin-left: 0.3em;
	text-shadow: 0 0 0.2em black;
	color: green; 
	font-family: Helvetica;
	font-size: 3em;
}
header h2
{
	margin-left: 0.3em;
}
header ul li
{
	display: inline;
}
header nav ul  li a
{
	position: relative;
	background-color: darkgreen;
	border-radius: 0.2em;
	padding: 0.2em;
	border-width: 0.1em;
	border-style: solid;
	border-color: black;
	color: white;
	text-align: center;
	
}
nav ul li form input, nav ul li form button
{
	float: right;
	margin-top: 0.5em;
}
h2
{
	margin-left: 0.5em;
	font-family: Helvetica;
}
section
{
	height: 32em;
	border-top-width: 0.3em;
	border-top-style: solid;
	border-top-color: green;
	border-bottom-width: 0.3em;
	border-bottom-style: solid;
	border-bottom-color: green;
	background-color: white;
}
#gauche, #commande, #choix
{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: yellow;
	padding-right: 0.7em;
	border-radius: 0.5em;
    box-shadow: 6px 6px 6px grey;
}
table, tr, th, td
{
	margin-left: 5px;
	border-width:2px; 
	border-style: solid; 
	border-color:lightgrey;
}
th, td
{
	font-size: 20px;
}
th, td
{
	padding-left: 0.5em;
	padding-right:0.5em;
}
img
{ 
	position:static;
	height: 6em;
}
#gauche
{
	display:inline-block;
	float: left;
	width: 20em;
}
#droite
{
	display: inline-block;
	width: 15em;
	height: 10em;
	margin-left: 3em;
}
#commande
{
	display: none;
}
#commande:target
{
	display: inline-block;
}