body
{
	background-color: #DEB887;
}
header
{
	border-width: 0.3em;
	border-style: groove;
	border-color: lightgrey;
	border-radius: 0.9em;
	background-image: url("nourriture.png");
	background-repeat: repeat;
	margin-bottom: 2.5em;
}
header h1
{
	margin-left: 0.3em;
	text-shadow: 0 0 0.2em black;
	color: green; 
	font-family: Helvetica;
}
header h2
{
	margin-left: 0.3em;
}
header ul li
{
	display: inline;
}
header nav ul  li a
{
	position: relative;
	background-color: darkgreen;
	border-radius: 0.2em;
	padding: 0.2em;
	border-width: 0.1em;
	border-style: solid;
	border-color: black;
	color: white;
	text-align: center;
	
}
header nav ul li form input, nav ul li form button
{
	float: right;
	margin-top: 0.5em;
} 
article
{
	border-top-width: 0.3em;
	border-top-style: solid;
	border-top-color: green;
	border-bottom-width: 0.3em;
	border-bottom-style: solid;
	border-bottom-color: green;
	background-color: white;
}
table
{
	margin-left: 2em;
}
article table th img
{
	
	height: 5em;
	border-width: 0.2em;
	border-color: black;
}
#gauche
{
	float: gauche;
}

#gauche, #droite
{
	width: 25em;
}
#droite
{
	float:droite;
}